{% load static %}
<div class="footer-wrap clearfix">
    <div class="logo-footer">
        <div class="img-footer">
            <img src="{% static 'images/logo/02.png' %}" alt="images">
        </div>
        <div class="copyright">
            © 2019 <a href="#">@24webpro</a> All Rights Reserved.
        </div>
        <ul class="social-icon">
            <li><a href="#"><i class="fab fa-skype"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
        </ul>
    </div>
    <div class="custom-serive widget">
        <div class="widget-title">Top Links</div>
        <ul class="widget-nav-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Information</a></li>
        </ul>
    </div>
    <div class="information widget">
        <div class="widget-title">My Account</div>
        <ul class="widget-nav-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Information</a></li>
        </ul>
    </div>
    <div class="our-terms widget">
        <div class="widget-title">Our Terms</div>
        <ul class="widget-nav-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Information</a></li>
        </ul>
    </div>
    <div class="get-app">
        <div class="img-app">
            <img src="{% static 'images/footer/01.png' %}" alt="images">
        </div>
        <div class="img-payment">
            <img src="{% static 'images/footer/02.png' %}" alt="images">
        </div>
    </div>
</div>
<a id="scroll-top" class="show"></a>
