{% load static %}
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider1" class="rev_slider fullwidthabanner">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="{% static 'images/transparent-head/02.png' %}" alt="" data-bgposition="center center"
                     data-no-retina>
                <div class="overlay"></div>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme winter-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-95','-60','-20','-10']"
                     data-fontsize="['60',60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"> Winter style <br> Dress with men<br> Sleeveless
                </div>

                <div class="tp-caption tp-resizeme price-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['52','90','90','70']"
                     data-fontsize="['60','60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingright="['550','155','50','2']">$990
                </div>

                <div class="tp-caption btn-shop-now"
                     data-x="['left','left','left','center']" data-hoffset="['750','250','200','150']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['71','100','90','75']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><a href="#">Shop Now <i class="fal fa-angle-right"></i></a>
                </div>

                <div class="tp-caption list-social"
                     data-x="['left','left','left','center']" data-hoffset="['4','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['403','380','250','200']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']">
                    <a href="#"><i class="fab fa-skype"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                </div>

                <div class="tp-caption img-av"
                     data-x="['left','left','left','center']" data-hoffset="['850','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['318','200','150','300']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><img src="{% static 'images/transparent-head/03.png' %}"
                                                                     alt="images"></div>
            </li><!-- End Slide 1 -->

            <!-- Slide 2 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="{% static 'images/transparent-head/02.png' %}" alt="" data-bgposition="center center"
                     data-no-retina>
                <div class="overlay"></div>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme winter-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-95','-60','-20','-10']"
                     data-fontsize="['60',60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"> Winter style <br> Dress with men<br> Sleeveless
                </div>

                <div class="tp-caption tp-resizeme price-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['52','90','90','70']"
                     data-fontsize="['60','60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingright="['550','155','50','2']">$990
                </div>

                <div class="tp-caption btn-shop-now"
                     data-x="['left','left','left','center']" data-hoffset="['750','250','200','150']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['71','100','90','75']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><a href="#">Shop Now <i class="fal fa-angle-right"></i></a>
                </div>

                <div class="tp-caption list-social"
                     data-x="['left','left','left','center']" data-hoffset="['4','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['403','380','250','200']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']">
                    <a href="#"><i class="fab fa-skype"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                </div>

                <div class="tp-caption img-av"
                     data-x="['left','left','left','center']" data-hoffset="['850','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['318','200','150','300']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><img src="{% static 'images/transparent-head/03.png' %}"
                                                                     alt="images"></div>
            </li><!-- End Slide 2 -->

            <!-- Slide 3 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="{% static 'images/transparent-head/02.png' %}" alt="" data-bgposition="center center"
                     data-no-retina>
                <div class="overlay"></div>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme winter-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-95','-60','-20','-10']"
                     data-fontsize="['60',60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"> Winter style <br> Dress with men<br> Sleeveless
                </div>

                <div class="tp-caption tp-resizeme price-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['52','90','90','70']"
                     data-fontsize="['60','60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingright="['550','155','50','2']">$990
                </div>

                <div class="tp-caption btn-shop-now"
                     data-x="['left','left','left','center']" data-hoffset="['750','250','200','150']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['71','100','90','75']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><a href="#">Shop Now <i class="fal fa-angle-right"></i></a>
                </div>

                <div class="tp-caption list-social"
                     data-x="['left','left','left','center']" data-hoffset="['4','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['403','380','250','200']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']">
                    <a href="#"><i class="fab fa-skype"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                </div>

                <div class="tp-caption img-av"
                     data-x="['left','left','left','center']" data-hoffset="['850','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['318','200','150','300']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><img src="{% static 'images/transparent-head/03.png' %}"
                                                                     alt="images"></div>
            </li><!-- End Slide 3 -->

            <!-- Slide 4 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="{% static 'images/transparent-head/02.png' %}" alt="" data-bgposition="center center"
                     data-no-retina>
                <div class="overlay"></div>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme winter-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-95','-60','-20','-10']"
                     data-fontsize="['60',60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"> Winter style <br> Dress with men<br> Sleeveless
                </div>

                <div class="tp-caption tp-resizeme price-tx"
                     data-x="['left','left','left','center']" data-hoffset="['337','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['52','90','90','70']"
                     data-fontsize="['60','60','40','30']"
                     data-lineheight="['72','72','52','42']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingright="['550','155','50','2']">$990
                </div>

                <div class="tp-caption btn-shop-now"
                     data-x="['left','left','left','center']" data-hoffset="['750','250','200','150']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['71','100','90','75']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><a href="#">Shop Now <i class="fal fa-angle-right"></i></a>
                </div>

                <div class="tp-caption list-social"
                     data-x="['left','left','left','center']" data-hoffset="['4','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['403','380','250','200']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']">
                    <a href="#"><i class="fab fa-skype"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                </div>

                <div class="tp-caption img-av"
                     data-x="['left','left','left','center']" data-hoffset="['850','4','4','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['318','200','150','300']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-paddingtop="['50','50','50','50']"
                     data-paddingbottom="['50','50','50','50']"><img src="{% static 'images/transparent-head/03.png' %}"
                                                                     alt="images"></div>
            </li><!-- End Slide 4 -->
        </ul>
    </div>
</div>
