{% load static %}
{% url 'home' as home_url %}
{% url 'setting-index' as setting_url %}
{% url 'blog-home' as blog_url %}
{% url 'user-add' as add_user_url %}
{% url 'group-index' as group_url %}
{% url 'chat-index' as chat_url %}
{% url 'company:list' as company_url %}
{% url 'company:create' as company_create_url %}
<div class="sidebar" data-background-color="brown" data-active-color="danger">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">CU</a>

        <a href="/" class="simple-text logo-normal">Community</a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="info">
                <div class="photo">
                    <img src="{{ request.user.profile.image.url }}" />
                </div>

                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>{{ request.user.first_name }} {{ request.user.last_name }} <b class="caret"></b></span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="{% url 'profile' %}">
                                <span class="sidebar-mini">Mp</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <div style="color: #ff4a5b">
                                    <span class="sidebar-mini">L</span>
                                    <span class="sidebar-normal">Logout</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li {% if request.get_full_path == home_url %}class="active" {% endif %}>
                <a href="{% url 'home' %}">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            {% if request.user.role.role == 'admin' %}
            <li {% if request.get_full_path == setting_url or request.get_full_path == add_user_url or request.get_full_path == add_user_url %}class="active"
                {% endif %}>
                <a href="{% url 'setting-index' %}">
                    <i class="fa fa-gear"></i>
                    <p>Setting</p>
                </a>
            </li>
            {% endif %}

            <li {% if request.get_full_path == blog_url %}class="active" {% endif %}>
                <a href="{% url 'blog-home' %}">
                    <i class="fa fa-rss"></i>
                    <p>Blog</p>
                </a>
            </li>

            <li {% if request.get_full_path == group_url %}class="active" {% endif %}>
                <a href="{% url 'group-index' %}">
                    <i class="fa fa-sun-o"></i>
                    <p>Group</p>
                </a>
            </li>
            <li {% if request.get_full_path == chat_url %}class="active" {% endif %}>
                <a href="{% url 'chat-index' %}">
                    <i class="fa fa-commenting-o"></i>
                    <p>Chat</p>
                </a>
            </li>
            <li {% if request.get_full_path == company_url or request.get_full_path == company_create_url %}class="active"
                {% endif %}>
                <a href="{% url 'company:list' %}">
                    <i class="fa fa-building-o"></i>
                    <p>Company</p>
                </a>
            </li>
        </ul>
    </div>
</div>
