{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% if title %}
            <title>Community | {{ title }}</title>
        {% else %}
            <title>Community</title>
        {% endif %}
        {% include 'layouts/header-style.html' %}
        {% block style %}{% endblock style %}
    </head>

    <body>
        <div class="wrapper">
            {% include 'layouts/left-nav.html' %}

            <div class="main-panel">
                {% include 'layouts/top-menu.html' %}

                <div class="content">
                    {% block content %} {% endblock content %}
                </div>
                {% include 'layouts/footer.html' %}
            </div>
        </div>
    </body>

<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
{% include 'layouts/footer-script.html' %}
{% block script %}{% endblock script %}
</html>
