{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>eShop</title>
        {% include 'admin/layouts/header-style.html' %}
        {% block style %}{% endblock style %}
    </head>

    <body>
        <div class="wrapper">
            {% include 'admin/layouts/left-nav.html' %}

            <div class="main-panel">
                {% include 'admin/layouts/top-menu.html' %}

                <div class="content">
                    {% block content %} {% endblock content %}
                </div>
                {% include 'admin/layouts/footer.html' %}
            </div>
        </div>
    </body>

<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
{% include 'admin/layouts/footer-script.html' %}
{% block script %}{% endblock script %}
</html>
