<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-minimize">
			<button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar bar1"></span>
				<span class="icon-bar bar2"></span>
				<span class="icon-bar bar3"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0)">
				{% if title %}
				{{ title }}
				{% else %}
				eShop
				{% endif %}
			</a>
		</div>
		<div class="collapse navbar-collapse">

			{% comment %}<form class="navbar-form navbar-left navbar-search-form" role="search">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" value="" class="form-control" placeholder="Search...">
				</div>
			</form>{% endcomment %}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown"
						aria-expanded="false"><i class="fa fa-gear"></i>
						<p class="hidden-md hidden-lg">Notifications<b class="caret"></b></p>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#" class="add-category-btn">Add Category</a></li>
						<li><a href="#" class="add-sub-category-btn">Add Sub Category</a></li>
						<li><a href="#" class="add-ss-category-btn">Add SS Category</a></li>
						<li><a href="{% url 'admin-product:create' %}" class="add-product-btn">Add Product</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="postLikerLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Product Category</h4>
			</div>
			<div class="modal-body modal-body-invite">
				<div id="add-category"></div>
			</div>
			<div class="modal-footer" style="border-top: 0px;">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="add-sub-category-modal" tabindex="-1" role="dialog" aria-labelledby="postLikerLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Product Sub Category</h4>
			</div>
			<div class="modal-body modal-body-invite">
				<div id="add-sub-category"></div>
			</div>
			<div class="modal-footer" style="border-top: 0px;">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="add-ss-category-modal" tabindex="-1" role="dialog" aria-labelledby="postLikerLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Product Sub Sub Category</h4>
			</div>
			<div class="modal-body modal-body-invite">
				<div id="add-ss-category"></div>
			</div>
			<div class="modal-footer" style="border-top: 0px;">
			</div>
		</div>
	</div>
</div>
