{% extends 'admin/layouts/main.html' %}
{% block content %}
    <div class="container-fluid">
        {% include 'admin/layouts/alert-message.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="block-content-full" style="overflow: auto;">
                    <div class="card-header">
                        <h4>Category</h4>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}