{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}
    <div class="flat-row"></div>
        <div class="container">
            {% include 'layouts/alert-message.html' %}
            <div class="d-md-flex justify-content-center">
                <div class="login">
                    <form action="#" class="border-lg login-form" method="POST">
                        {% csrf_token %}
                        <input type="text" class="email" name="username" placeholder="Email/Username" required>
                        <input type="password" class="password" placeholder="Password" name="password" required
                               data-parsley-minlength="6">
                        <div class="flat-button">
                            <button class="btn-login hv-bounce-bl">LOGIN</button>
                        </div>
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <div class="checkbox-none">
                                    <input class="inp-checkbox" id="cbx" type="checkbox">
                                    <label class="custom-checkbox" for="cbx">
                                        <span>
                                            <svg width="8px" height="6px" viewbox="0 0 12 10">
                                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                            </svg>
                                        </span>
                                        <span>Remember Me</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 text-right text-password">
                                <p>Forgot <a href="#">password?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="register">
                    <form action="{% url 'account:registration' %}" class="border-lg" method="POST">
                        {% csrf_token %}
                        <input type="email" class="email" name="email" placeholder="Email" required
                               data-parsley-type="email">
                        <input type="text" class="name" name="username" placeholder="Username" required>
                        <input type="text" class="name" name="first_name" placeholder="First name" required>
                        <input type="text" class="name" name="last_name" placeholder="Last name" required>
                        <input type="password" class="password" name="password" placeholder="Password...."
                               required data-parsley-minlength="6">
                        <input type="text" class="phone" name="phone" placeholder="Phone" required>
                        <div class="flat-button">
                            <button class="btn-register hv-bounce-bl">REGISTER</button>
                        </div>
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <div class="checkbox-none">
                                    <input class="inp-checkbox" id="cbx1" type="checkbox">
                                    <label class="custom-checkbox" for="cbx1">
                                        <span>
                                            <svg width="8px" height="6px" viewbox="0 0 12 10">
                                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                            </svg>
                                        </span>
                                        <span>Remember Me</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 text-right text-password">
                                <p>Forgot <a href="#">password?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('.border-lg').parsley();
            $('.login-form').parsley();
        });
    </script>
{% endblock %}
